In [27]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
# concat datasets

apr = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-April-2024-revised.csv")
may = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-May-2024.csv")
jun = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-June-2024.csv")
jul = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-July-2024-revised.csv")
aug = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-August-2024.csv")
sept = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-September-2024.csv")
octo = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-October-2024-revised.csv")
nov = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-November-2024-revised.csv")
dec = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-December-2024.csv")
jan = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-January-2025.csv")
feb = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-February-2025-revised.csv")
mar = pd.read_csv(r"C:\Users\tom_r\Downloads\Monthly-AE-March-2025.csv")

df = pd.concat([apr, may, jun, jul, aug, sept, octo, nov, dec, jan, feb, mar])

In [3]:
df

,Period,Org Code,Parent Org,Org name,A&E attendances Type 1,A&E attendances Type 2,A&E attendances Other A&E Department,A&E attendances Booked Appointments Type 1,A&E attendances Booked Appointments Type 2,A&E attendances Booked Appointments Other Department,...,Emergency admissions via A&E - Type 1,Emergency admissions via A&E - Type 2,Emergency admissions via A&E - Other A&E department,Other emergency admissions,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,a
0,MSitAE-APRIL-2024,AAH,NHS ENGLAND SOUTH WEST,TETBURY HOSPITAL TRUST LTD,0,0,546,0,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,MSitAE-APRIL-2024,RAN,NHS ENGLAND LONDON,ROYAL NATIONAL ORTHOPAEDIC HOSPITAL NHS TRUST,0,0,0,0,0,0,...,0,0,0,41,NaN,NaN,NaN,NaN,NaN,NaN
2,MSitAE-APRIL-2024,8J094,NHS ENGLAND MIDLANDS,BADGER LTD,0,0,0,0,0,2078,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,MSitAE-APRIL-2024,AD913,NHS ENGLAND LONDON,BECKENHAM BEACON UCC,0,0,3694,0,0,104,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,MSitAE-APRIL-2024,AQN04,NHS ENGLAND SOUTH EAST,PHL LYMINGTON UTC,0,0,2897,0,0,7,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,MSitAE-MARCH-2025,RWJ,NHS ENGLAND NORTH WEST,STOCKPORT NHS FOUNDATION TRUST,8213,0,1240,314,0,1334,...,2843,0,82,956,NaN,NaN,NaN,NaN,NaN,NaN
195,MSitAE-MARCH-2025,RWX,NHS ENGLAND SOUTH EAST,BERKSHIRE HEALTHCARE NHS FOUNDATION TRUST,0,0,1479,0,0,0,...,0,0,19,0,NaN,NaN,NaN,NaN,NaN,NaN
196,MSitAE-MARCH-2025,RAS,NHS ENGLAND LONDON,THE HILLINGDON HOSPITALS NHS FOUNDATION TRUST,6236,0,6892,0,0,0,...,1883,0,0,57,NaN,NaN,NaN,NaN,NaN,NaN
197,MSitAE-MARCH-2025,RJ1,NHS ENGLAND LONDON,GUY'S AND ST THOMAS' NHS FOUNDATION TRUST,10247,727,7130,0,0,0,...,2054,0,0,220,NaN,NaN,NaN,NaN,NaN,NaN
198,TOTAL,TOTAL,TOTAL,TOTAL,1418235,50646,830779,32451,591,56362,...,404354,1366,4569,140840,NaN,NaN,NaN,NaN,NaN,NaN

## Data Cleaning

In [4]:
df.columns.values

array(['Period', 'Org Code', 'Parent Org', 'Org name',
       'A&E attendances Type 1', 'A&E attendances Type 2',
       'A&E attendances Other A&E Department',
       'A&E attendances Booked Appointments Type 1',
       'A&E attendances Booked Appointments Type 2',
       'A&E attendances Booked Appointments Other Department',
       'Attendances over 4hrs Type 1', 'Attendances over 4hrs Type 2',
       'Attendances over 4hrs Other Department',
       'Attendances over 4hrs Booked Appointments Type 1',
       'Attendances over 4hrs Booked Appointments Type 2',
       'Attendances over 4hrs Booked Appointments Other Department',
       'Patients who have waited 4-12 hs from DTA to admission',
       'Patients who have waited 12+ hrs from DTA to admission',
       'Emergency admissions via A&E - Type 1',
       'Emergency admissions via A&E - Type 2',
       'Emergency admissions via A&E - Other A&E department',
       'Other emergency admissions', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'a'], dtype=object)

In [5]:
# remove unnecessary columns

columns = ['Period', 'Org Code', 'Parent Org', 'Org name',
       'A&E attendances Type 1', 'A&E attendances Type 2',
       'A&E attendances Other A&E Department',
       'A&E attendances Booked Appointments Type 1',
       'A&E attendances Booked Appointments Type 2',
       'A&E attendances Booked Appointments Other Department',
       'Attendances over 4hrs Type 1', 'Attendances over 4hrs Type 2',
       'Attendances over 4hrs Other Department',
       'Attendances over 4hrs Booked Appointments Type 1',
       'Attendances over 4hrs Booked Appointments Type 2',
       'Attendances over 4hrs Booked Appointments Other Department',
       'Patients who have waited 4-12 hs from DTA to admission',
       'Patients who have waited 12+ hrs from DTA to admission',
       'Emergency admissions via A&E - Type 1',
       'Emergency admissions via A&E - Type 2',
       'Emergency admissions via A&E - Other A&E department',
       'Other emergency admissions']

df = df[columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2384 entries, 0 to 198
Data columns (total 22 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Period                                                      2384 non-null   object
 1   Org Code                                                    2384 non-null   object
 2   Parent Org                                                  2384 non-null   object
 3   Org name                                                    2384 non-null   object
 4   A&E attendances Type 1                                      2384 non-null   int64
 5   A&E attendances Type 2                                      2384 non-null   int64
 6   A&E attendances Other A&E Department                        2384 non-null   int64
 7   A&E attendances Booked Appointments Type 1                  2384 non-null   int64
 8   A&E attendances Booked Appointments Type 2                  2384 non-null   int64
 9   A&E attendances Booked Appointments Other Department        2384 non-null   int64
 10  Attendances over 4hrs Type 1                                2384 non-null   int64
 11  Attendances over 4hrs Type 2                                2384 non-null   int64
 12  Attendances over 4hrs Other Department                      2384 non-null   int64
 13  Attendances over 4hrs Booked Appointments Type 1            2384 non-null   int64
 14  Attendances over 4hrs Booked Appointments Type 2            2384 non-null   int64
 15  Attendances over 4hrs Booked Appointments Other Department  2384 non-null   int64
 16  Patients who have waited 4-12 hs from DTA to admission      2384 non-null   int64
 17  Patients who have waited 12+ hrs from DTA to admission      2384 non-null   int64
 18  Emergency admissions via A&E - Type 1                       2384 non-null   int64
 19  Emergency admissions via A&E - Type 2                       2384 non-null   int64
 20  Emergency admissions via A&E - Other A&E department         2384 non-null   int64
 21  Other emergency admissions                                  2384 non-null   int64
dtypes: int64(18), object(4)
memory usage: 428.4+ KB

In [7]:
nan = df.isnull().sum()
nan

Period                                                        0
Org Code                                                      0
Parent Org                                                    0
Org name                                                      0
A&E attendances Type 1                                        0
A&E attendances Type 2                                        0
A&E attendances Other A&E Department                          0
A&E attendances Booked Appointments Type 1                    0
A&E attendances Booked Appointments Type 2                    0
A&E attendances Booked Appointments Other Department          0
Attendances over 4hrs Type 1                                  0
Attendances over 4hrs Type 2                                  0
Attendances over 4hrs Other Department                        0
Attendances over 4hrs Booked Appointments Type 1              0
Attendances over 4hrs Booked Appointments Type 2              0
Attendances over 4hrs Booked Appointments Other Department    0
Patients who have waited 4-12 hs from DTA to admission        0
Patients who have waited 12+ hrs from DTA to admission        0
Emergency admissions via A&E - Type 1                         0
Emergency admissions via A&E - Type 2                         0
Emergency admissions via A&E - Other A&E department           0
Other emergency admissions                                    0
dtype: int64

In [8]:
df.duplicated(columns).value_counts()

False    2384
Name: count, dtype: int64

In [9]:
duplicates = df.groupby(['Period'])
duplicates.size()

Period
MSitAE-APRIL-2024        197
MSitAE-AUGUST-2024       198
MSitAE-DECEMBER-2024     198
MSitAE-FEBRUARY-2025     198
MSitAE-JANUARY-2025      198
MSitAE-JULY-2024         198
MSitAE-JUNE-2024         197
MSitAE-MARCH-2025        198
MSitAE-MAY-2024          197
MSitAE-NOVEMBER-2024     198
MSitAE-OCTOBER-2024      198
MSitAE-SEPTEMBER-2024    197
TOTAL                      9
Total                      2
Total                      1
dtype: int64

In [10]:
# filter out the total rows as they are unneeded
df = df[~df.Period.str.startswith('T')].copy()

In [12]:
df['Period'] = df['Period'].str.replace("MSitAE-", "")

In [24]:
df['Period'] = pd.to_datetime(df['Period'], format='%B-%Y')

In [26]:
df['Period'].unique()

<DatetimeArray>
['2024-04-01 00:00:00', '2024-05-01 00:00:00', '2024-06-01 00:00:00',
 '2024-07-01 00:00:00', '2024-08-01 00:00:00', '2024-09-01 00:00:00',
 '2024-10-01 00:00:00', '2024-11-01 00:00:00', '2024-12-01 00:00:00',
 '2025-01-01 00:00:00', '2025-02-01 00:00:00', '2025-03-01 00:00:00']
Length: 12, dtype: datetime64[ns]

In [25]:
df

,Period,Org Code,Parent Org,Org name,A&E attendances Type 1,A&E attendances Type 2,A&E attendances Other A&E Department,A&E attendances Booked Appointments Type 1,A&E attendances Booked Appointments Type 2,A&E attendances Booked Appointments Other Department,...,Attendances over 4hrs Other Department,Attendances over 4hrs Booked Appointments Type 1,Attendances over 4hrs Booked Appointments Type 2,Attendances over 4hrs Booked Appointments Other Department,Patients who have waited 4-12 hs from DTA to admission,Patients who have waited 12+ hrs from DTA to admission,Emergency admissions via A&E - Type 1,Emergency admissions via A&E - Type 2,Emergency admissions via A&E - Other A&E department,Other emergency admissions
0,2024-04-01,AAH,NHS ENGLAND SOUTH WEST,TETBURY HOSPITAL TRUST LTD,0,0,546,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2024-04-01,RAN,NHS ENGLAND LONDON,ROYAL NATIONAL ORTHOPAEDIC HOSPITAL NHS TRUST,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,41
2,2024-04-01,8J094,NHS ENGLAND MIDLANDS,BADGER LTD,0,0,0,0,0,2078,...,0,0,0,0,0,0,0,0,0,0
3,2024-04-01,AD913,NHS ENGLAND LONDON,BECKENHAM BEACON UCC,0,0,3694,0,0,104,...,17,0,0,0,0,0,0,0,0,0
4,2024-04-01,AQN04,NHS ENGLAND SOUTH EAST,PHL LYMINGTON UTC,0,0,2897,0,0,7,...,8,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,2025-03-01,RVR,NHS ENGLAND LONDON,EPSOM AND ST HELIER UNIVERSITY HOSPITALS NHS T...,11405,328,1497,455,0,33,...,108,69,0,1,253,706,1911,3,0,188
194,2025-03-01,RWJ,NHS ENGLAND NORTH WEST,STOCKPORT NHS FOUNDATION TRUST,8213,0,1240,314,0,1334,...,81,119,0,4,801,292,2843,0,82,956
195,2025-03-01,RWX,NHS ENGLAND SOUTH EAST,BERKSHIRE HEALTHCARE NHS FOUNDATION TRUST,0,0,1479,0,0,0,...,8,0,0,0,0,0,0,0,19,0
196,2025-03-01,RAS,NHS ENGLAND LONDON,THE HILLINGDON HOSPITALS NHS FOUNDATION TRUST,6236,0,6892,0,0,0,...,56,0,0,0,766,69,1883,0,0,57
197,2025-03-01,RJ1,NHS ENGLAND LONDON,GUY'S AND ST THOMAS' NHS FOUNDATION TRUST,10247,727,7130,0,0,0,...,199,0,0,0,119,71,2054,0,0,220

In [15]:
df['Parent Org'].unique()

array(['NHS ENGLAND SOUTH WEST ', 'NHS ENGLAND LONDON',
       'NHS ENGLAND MIDLANDS ', 'NHS ENGLAND SOUTH EAST ',
       'NHS ENGLAND NORTH EAST AND YORKSHIRE ', 'NHS ENGLAND NORTH WEST ',
       'NHS ENGLAND EAST OF ENGLAND '], dtype=object)

## Insights

### Temporal trends

In [16]:
df.columns.values

array(['Period', 'Org Code', 'Parent Org', 'Org name',
       'A&E attendances Type 1', 'A&E attendances Type 2',
       'A&E attendances Other A&E Department',
       'A&E attendances Booked Appointments Type 1',
       'A&E attendances Booked Appointments Type 2',
       'A&E attendances Booked Appointments Other Department',
       'Attendances over 4hrs Type 1', 'Attendances over 4hrs Type 2',
       'Attendances over 4hrs Other Department',
       'Attendances over 4hrs Booked Appointments Type 1',
       'Attendances over 4hrs Booked Appointments Type 2',
       'Attendances over 4hrs Booked Appointments Other Department',
       'Patients who have waited 4-12 hs from DTA to admission',
       'Patients who have waited 12+ hrs from DTA to admission',
       'Emergency admissions via A&E - Type 1',
       'Emergency admissions via A&E - Type 2',
       'Emergency admissions via A&E - Other A&E department',
       'Other emergency admissions'], dtype=object)

In [17]:
monthly_cols = ['Period', 'A&E attendances Type 1', 'A&E attendances Type 2',
       'A&E attendances Other A&E Department',
       'A&E attendances Booked Appointments Type 1',
       'A&E attendances Booked Appointments Type 2',
       'A&E attendances Booked Appointments Other Department']

monthly_data = df[monthly_cols]

In [18]:
total_monthly_data = monthly_data.groupby(['Period'], as_index=False).sum()
total_monthly_data

,Period,A&E attendances Type 1,A&E attendances Type 2,A&E attendances Other A&E Department,A&E attendances Booked Appointments Type 1,A&E attendances Booked Appointments Type 2,A&E attendances Booked Appointments Other Department
0,APRIL-2024,1341059,50804,771286,30969,691,45859
1,AUGUST-2024,1292332,47731,746162,27825,656,46085
2,DECEMBER-2024,1407530,43471,807451,32781,570,54131
3,FEBRUARY-2025,1241931,45071,721461,29405,611,49592
4,JANUARY-2025,1326670,48785,757845,32356,701,51773
5,JULY-2024,1399224,50788,801318,26345,711,46446
6,JUNE-2024,1374917,48707,792016,30741,675,47009
7,MARCH-2025,1418235,50646,830779,32451,591,56362
8,MAY-2024,1439178,50602,841230,33543,644,51095
9,NOVEMBER-2024,1396858,46656,791064,31192,607,48621
10,OCTOBER-2024,1422317,49017,809058,30925,700,48519
11,SEPTEMBER-2024,1335923,47946,757108,28559,588,44093

In [19]:
total_monthly_data.columns.values

array(['Period', 'A&E attendances Type 1', 'A&E attendances Type 2',
       'A&E attendances Other A&E Department',
       'A&E attendances Booked Appointments Type 1',
       'A&E attendances Booked Appointments Type 2',
       'A&E attendances Booked Appointments Other Department'],
      dtype=object)

In [20]:
total_monthly_data['Period'].unique()

array(['APRIL-2024', 'AUGUST-2024', 'DECEMBER-2024', 'FEBRUARY-2025',
       'JANUARY-2025', 'JULY-2024', 'JUNE-2024', 'MARCH-2025', 'MAY-2024',
       'NOVEMBER-2024', 'OCTOBER-2024', 'SEPTEMBER-2024'], dtype=object)

In [21]:
month_order = ['APRIL-2024', 'MAY-2024', 'JUNE-2024', 'JULY-2024', 'AUGUST-2024', 'SEPTEMBER-2024', 'OCTOBER-2024', 'NOVEMBER-2024', 'DECEMBER-2024', 'JANUARY-2025', 'FEBRUARY-2025', 'MARCH-2025']
total_monthly_data.sort_values(by='Period'

SyntaxError: incomplete input (903619732.py, line 2)

In [ ]:
plt.figure().set_figwidth(20)
plt.plot(total_monthly_data['Period'], total_monthly_data['A&E attendances Type 1'])
plt.show()

In [ ]:
# attendances over 4 hours

In [ ]:
# attendances over 12 hours

In [ ]:
# total attendaces by month